.customized {
	text-transform: none;
}

.mdl-layout__tab-bar-button{
	background-color: #396834;
}

.my-header {
  justify-content: flex-end !important;
}

.navClass {
	height: 100px;
}

.mdl-layout-spacer{
	text-align: right;
}