.fb:link, .twt:link, .gp:link, .li:link, .pnt:link, .ml:link, .yt:link, .fb:visited, .twt:visited, .gp:visited, .li:visited, .pnt:visited, .ml:visited, .yt:visited {
	border-radius: 50%;
	padding: 5px 5px 5px 5px;
	border: 1px solid transparent;
	background-color: white;
}

.fb:hover, .twt:hover, .gp:hover, .li:hover, .pnt:hover, .ml:hover, .yt:hover, .fb:active, .twt:active, .gp:active, .li:active, .pnt:active, .ml:active, .yt:active {
	border-radius: 50%;
	padding: 5px 5px 5px 5px;
	border: 1px solid transparent;
	background-color: #59B060;
}

.logoClass{
	width: 25px;
	height: 25px;
}

.title{
	color: white;
}

.footerClass {
	background-color: gray;
	color: #D0D0CD;
}

a {
	text-decoration: none;
	color: white;
}